npm install svix
npm i mongoose
npm i --save @fortawesome/fontawesome-svg-core
npm i --save @fortawesome/free-solid-svg-icons
npm i --save @fortawesome/free-regular-svg-icons
npm i --save @fortawesome/free-brands-svg-icons
npm i --save @fortawesome/react-fontawesome@latest
npm install @mui/material @emotion/react @emotion/styled
npm install @mui/icons-material
npm install recharts
npm install @mui/x-date-pickers
npm install dayjs
npm install uuid